h2{
  color: rgb(83, 42, 83);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body{
  background-color: rgb(253, 249, 249);
}

h4{
  color: rgb(124, 57, 124);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* agora centralizando tudo*/

h2{text-align: center;}
h4{text-align: center;}

p{
  text-align: center;
  color: purple;
  font-weight: bold;
}

a{
  color: black;
  font-weight: bold;
}

/*colocando images e ajustando o tamanho: altura e largura*/

.Reprograma {
  width: 19rem;
  margin: 7rem auto 0;
  position: relative;
}

.Reprograma span{
  position: absolute;
  top: -10px;
}

.Reprograma > img{
  width: 19rem;
  height: 7rem;
  object-fit: cover;
  clip-path: polygon();
}

/*centralizei e agora vou ajustar o meu paragrafo(p)*/

div.container4 {
  height: 0.0rem;
  position: relative}

  div.container4 p {
  margin: 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: purple;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
  
  div.container6 {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }
  
    div.container6 p {
    margin: 0 }